<h3 class="first">Choose the region: </h3>
<p-dropdown [options]="regions" [(ngModel)]="selectedRegion" placeholder="Select a Region" optionLabel="name" [showClear]="true" (onChange)="buscarPaises()">
</p-dropdown>

<p>Selected Region: {{selectedRegion ? selectedRegion.name : 'none'}}</p>

<br>

<h3 class="first"></h3>
<p-table [value]="paises">
    <ng-template pTemplate="header">
        <tr>
            <th>Code</th>
            <th>Name</th>
            <th>Population</th>
            <th>Capital</th>
            <th>Language</th>
        </tr>
    </ng-template>
    <ng-template pTemplate="body" let-pais>
        <tr>
            <td>{{pais.alpha3Code}}</td>
            <td>{{pais.name}}</td>
            <td>{{pais.population}}</td>
            <td>{{pais.capital}}</td>
            <td>
                <ul>
                    <li *ngFor="let idioma of pais.languages">{{idioma.name}}</li>
                </ul>
            </td>
        </tr>
    </ng-template>
</p-table>