<!–– 
Pizza base: 10 euros

ADICIONAIS
- Margarita = 2 euros
- Pepperoni = 2 euros
- Havaiana = 4 euros
- atun = 3 euros
- Sinensia = 10 euros

DOBLE QUESO: 5 euros si
0 euros no

1 a 5 personas: 5 euros por persona
––>

<h1>PIZZA TIME!</h1>

<p>Tipo da Pizza</p>
<P>Pizza seleccionada: {{pizzaSelecionada}}</P>
<select [(ngModel)] = "pizzaSelecionada">
    <option *ngFor="let pizza of pizzas">{{pizza}}</option>
</select>

<br><br>

<input type="checkbox" [(ngModel)] = "dobleQueso"> Doble queso por + 5 euros 

<br><br>

<p>Quantidade de pessoas(+5 euros para cada): {{qntdPessoas}}</p>
<input type="radio" name="g1" value=1 [(ngModel)] = "qntdPessoas">1<br>
<input type="radio" name="g1" value=2 [(ngModel)] = "qntdPessoas">2<br>
<input type="radio" name="g1" value=3 [(ngModel)] = "qntdPessoas">3<br>
<input type="radio" name="g1" value=4 [(ngModel)] = "qntdPessoas">4<br>
<input type="radio" name="g1" value=5 [(ngModel)] = "qntdPessoas">5

<br><br>
<button (click)="finalizarPedido()">Calcular Pizza</button>

<br>
<p>VALOR TOTAL DA PIZZA: {{pizzaTotal}}</p>