<h2>Tabela de Produtos</h2>

<table>
    <tr>
        <th>Codigo</th>
        <th>Nombre</th>
        <th>Categoria</th>
        <th>Descripcion</th>
        <th>Precio</th>
        <th>Fecha Alta</th>
        <th>Descatalogado</th>
    </tr>
    <tr *ngFor="let producto of productos">
        <td>{{producto.codigo}}</td>
        <td>{{producto.nombre}}</td>
        <td>{{producto.categoria}}</td>
        <td>{{producto.descripcion}}</td>
        <td>{{producto.precio}}</td>
        <td>{{producto.fechaAlta | date: 'dd/MM/yyyy'}}</td>
        <td>{{producto.descatalogado}}</td>
    </tr>
</table>