<h2>Tabela de Produtos</h2>

<!-- Tabela de Producto con PrimeNG -->
<p-table [value]="productos">
    <ng-template pTemplate="header">
        <tr>
            <th>Codigo</th>
            <th>Nombre</th>
            <th>Categoria</th>
            <th>Descripcion</th>
            <th>Precio</th>
            <th>Fecha Alta</th>
            <th>Descatalogado</th>
        </tr>
    </ng-template>
    <ng-template pTemplate="body" let-producto>
        <tr>
            <td>{{producto.codigo}}</td>
            <td>{{producto.nombre}}</td>
            <td>{{producto.categoria}}</td>
            <td>{{producto.descripcion}}</td>
            <td>{{producto.precio}}</td>
            <td>{{producto.fechaAlta | date: 'dd/MM/yyyy'}}</td>
            <td>{{producto.descatalogado}}</td>
        </tr>
    </ng-template>
</p-table>